<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>

<body>
    <div class="fabulous" id="fabulous">
        <div class="arm"></div>
        <div class="finger"></div>
        <div class="finger-moon"></div>
        <div class="add1" id="add1">+1</div>
    </div>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.16.2/axios.min.js"></script>
    <script type="text/javascript" src="/script/system.js"></script>
    <!--<script type="text/javascript" src="axios/dist/axios.js"></script>-->
    <script type="text/javascript" src="/script/common.js"></script>
    <script type="text/javascript">
    SystemJS.config({
        "baseURL": "./"
    });
    SystemJS.import('/script/compiled.js').then(function(m) {
        $.extend({
            thumb: m.default
        });
        var f = new $.thumb($('#fabulous'));
        f.clickButton();
    });
    function addcount() {
        axios.get('/thumbup').then(function (res) {
            if(res.data.msg === 'success'){
                return res.data.msg
            }else{
                return '操作失败';
            }
        });
    }
    </script>
</body>

</html>